// COLOR VARIABLES
$color-primary-red: hsl(0, 36%, 70%);
$color-soft-red: hsl(0, 93%, 68%);

$color-dark-greyish-red: hsl(0, 6%, 24%);
// GRADIENTS
$gradient-primary: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
$gradient-secondary: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

// FONT VARIABLES
$font-primary: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px/16px
$bp-large: 62.5em; // 1000px/16
$bp-medium: 50em; // 800px/16
$bp-small: 37.5em; // 600px/16

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
}

section .left {
  background-image: url(/images/bg-pattern-desktop.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 40%;
}

.left-side {
  display: flex;
  flex-direction: column;
  padding: 3rem 7rem;

  h1 {
    padding-top: 5rem;
    text-transform: uppercase;
    font-size: 5rem;
    font-family: $font-primary;
    font-weight: 300;

    .pink {
      color: $color-primary-red;
    }
  }

  &.left-side__text {
  }
}

.image {
  display: grid;
  min-width: 100%;
  min-height: 100%;
}
