// COLOR VARIABLES
$color-primary-red: hsl(0, 36%, 70%);
$color-soft-red: hsl(0, 93%, 68%);

$color-dark-greyish-red: hsl(0, 6%, 24%);
// GRADIENTS

$gradient-primary: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$gradient-secondary: linear-gradient(
  135deg,
  hsl(0, 0%, 100%),
  hsl(0, 100%, 98%)
);
// FONT VARIABLES
$font-primary: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 81.25em; // 1300px/16px
$bp-large: 62.5em; // 1000px/16
$bp-medium: 51.25em; // 820px/16
$bp-small: 37.5em; // 600px/16
$bp-smallest: 28.125em; // 450/16

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    overflow: scroll;
  }
}
body {
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;

  @media only screen and (max-width: $bp-medium) {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  @media only screen and (max-width: $bp-small) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 75%;
  }
}

.left {
  background-image: url(/images/bg-pattern-desktop.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 100vh;
}

.left-side {
  display: flex;
  flex-direction: column;
  padding: 4rem 5rem 4rem 5rem;
  font-family: $font-primary;
  justify-content: left;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem 4rem 3.5rem 4rem;
  }

  @media only screen and (max-width: $bp-small) {
    background-image: url(/images/hero-mobile.jpg);
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: top 6rem right 0;
    padding: 2rem 1rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 2.5rem;
  }

  h1 {
    padding-top: 5rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    line-height: 1.1em;
    letter-spacing: 0.9rem;

    @media only screen and (max-width: $bp-largest) {
      font-size: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      padding-top: 27rem;
      font-size: 1.8rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding-top: 21rem;
      font-size: 1.8rem;
    }
    .pink {
      color: $color-primary-red;
      font-weight: 300;
    }

    .dark {
      color: $color-dark-greyish-red;
      font-weight: 400;
    }
  }

  &__text {
    color: $color-primary-red;
    font-size: 1.2rem;
    width: 30rem;
    line-height: 1.8rem;

    @media only screen and (max-width: $bp-large) {
      width: 26rem;
      font-size: 1.4rem;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 20rem;
      font-size: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 20rem;
      text-align: center;
      font-size: 1rem;
    }

    .paragraph {
      padding: 2.5rem 0 2rem;

      @media only screen and (max-width: $bp-large) {
        padding: 4rem 0;
      }

      @media only screen and (max-width: $bp-small) {
        padding-top: 2rem;
      }
    }
  }
  input {
    display: inline-flex;
    position: relative;
    border: 1px solid $color-primary-red;
    border-radius: 5rem;
    padding: 1rem;
    min-width: 25vw;
    color: $color-dark-greyish-red;
    font-family: $font-primary;

    @media only screen and (max-width: $bp-large) {
      width: 40vw;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 30vw;
    }
    @media only screen and (max-width: $bp-small) {
      width: 45vw;
    }

    &::placeholder {
      color: $color-primary-red;
      font-size: 1rem;
      font-family: $font-primary;
    }

    &:hover,
    &:focus {
      border: 2px solid $color-soft-red;
      outline: $color-soft-red;
    }
  }

  // JS elements
  .error-icon {
    visibility: hidden;
  }

  .error .error-icon {
    display: inline-block;
    visibility: visible;

    @media only screen and (max-width: $bp-medium) {
      margin-left: -5rem !important;
    }
  }

  form.error .error-icon .email {
    display: inline-block;
    visibility: visible;
    position: absolute;
  }

  .text {
    visibility: hidden;
  }

  form.error p {
    position: absolute;
    display: block;
    visibility: visible;
    color: $color-soft-red;
    font-weight: 600;
    font-size: 1rem;

    @media only screen and (max-width: $bp-medium) {
      margin-left: 3rem !important;
    }
  }

  button {
    transition: all 0.2s ease-in-out;
    margin-left: -5rem;
    position: absolute;
    display: inline-flex;
    border: none;
    border-radius: 2rem;
    padding: 0.9rem 0.8rem;
    width: 6vw;
    align-content: center;
    justify-content: center;
    background-image: $gradient-primary;
    background-color: #f1bebe;
    cursor: pointer;

    @media only screen and (max-width: $bp-largest) {
      margin-left: -3rem;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0.3rem 1rem 1.5rem 0.3rem hsl(0, 36%, 85%);
      background-image: inherit;
      background-color: #f8d2d2;
      outline: none;
    }

    &:focus-visible {
      border: 2px solid $color-soft-red;
      outline: $color-soft-red;
    }
  }
}

.right-side {
  background-image: url(/images/hero-desktop.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100vh;

  @media only screen and (max-width: $bp-largest) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 80vh;
  }

  @media only screen and (max-width: $bp-small) {
    background-image: none;
  }
}

.footer {
  color: $color-dark-greyish-red;
  text-align: center;
  font-size: 0.7rem;
  font-family: $font-primary;

  &__links {
    color: $color-primary-red;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: $color-soft-red;
    }
  }
}
