// COLOR VARIABLES
$color-primary-red: hsl(0, 36%, 70%);
$color-soft-red: hsl(0, 93%, 68%);

$color-dark-greyish-red: hsl(0, 6%, 24%);
// GRADIENTS

$gradient-primary: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$gradient-secondary: linear-gradient(
  135deg,
  hsl(0, 0%, 100%),
  hsl(0, 100%, 98%)
);
// FONT VARIABLES
$font-primary: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px/16px
$bp-large: 62.5em; // 1000px/16
$bp-medium: 50em; // 800px/16
$bp-small: 37.5em; // 600px/16
$bp-smallest: 28.125em; // 450/16

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow: hidden;

  @media only screen and (max-width: $bp-small) {
    overflow: scroll;
  }
}
body {
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 60% 40%;

  @media only screen and (max-width: $bp-small) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
  }
}

.left {
  background-image: url(/images/bg-pattern-desktop.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 100vh;
}

.left-side {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem 3rem 9rem;
  font-family: $font-primary;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem 4rem;
  }
  @media only screen and (max-width: $bp-medium) {
    padding: 1.5rem 2rem;
  }
  @media only screen and (max-width: $bp-small) {
    background-image: url(/images/hero-mobile.jpg);
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: top 5rem right 0rem;
  }

  h1 {
    padding-top: 7rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    line-height: 1.1em;
    letter-spacing: 0.9rem;

    @media only screen and (max-width: $bp-largest) {
      font-size: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      padding-top: 25rem;
    }

    .pink {
      color: $color-primary-red;
      font-weight: 300;
    }

    .dark {
      color: $color-dark-greyish-red;
      font-weight: 400;
    }
  }

  .left-side__text {
    color: $color-primary-red;
    font-size: 1.2rem;
    width: 33rem;
    line-height: 1.8rem;

    @media only screen and (max-width: $bp-largest) {
      width: 20rem;
      text-align: center;
      padding-left: 2rem;
    }

    .paragraph {
      padding: 2rem 0 3rem;
    }
  }

  input {
    display: inline-flex;
    position: relative;
    border: 1px solid $color-primary-red;
    border-radius: 5rem;
    padding: 1rem;
    width: 28vw;
    color: $color-dark-greyish-red;
    font-family: $font-primary;

    @media only screen and (max-width: $bp-medium) {
      min-width: 35vw;
    }

    @media only screen and (max-width: $bp-small) {
      min-width: 40vw;
    }

    &::placeholder {
      color: $color-primary-red;
      font-size: 1rem;
      font-family: $font-primary;
    }

    &:hover,
    &:focus {
      border: 2px solid $color-soft-red;
      outline: $color-soft-red;
    }
  }

  .error-icon {
    visibility: hidden;
  }

  form.error .error-icon .email {
    display: inline-block;
    visibility: visible;
    position: absolute;
    margin-top: 0.7rem;
    margin-left: -10rem;
  }

  .text {
    visibility: hidden;
  }

  form.error p {
    position: absolute;
    display: block;
    visibility: visible;
    color: $color-soft-red;
    font-weight: 600;
    font-size: 1rem;
  }

  button {
    transition: all 0.2s ease-in-out;
    margin-left: -5rem;
    position: absolute;
    display: inline-flex;
    border: none;
    border-radius: 2rem;
    padding: 0.9rem 0.8rem;
    width: 5vw;
    align-content: center;
    justify-content: center;
    background-image: $gradient-primary;
    background-color: #f1bebe;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      box-shadow: 0.3rem 1rem 1.5rem 0.3rem hsl(0, 36%, 85%);
      background-image: inherit;
      background-color: #f8d2d2;
      outline: none;
    }

    &:focus-visible {
      border: 2px solid $color-soft-red;
      outline: $color-soft-red;
    }
  }
}

.right-side {
  background-image: url(/images/hero-desktop.jpg);
  background-size: cover;
  object-fit: cover;

  @media only screen and (max-width: $bp-largest) {
    background-position: center center;
    background-repeat: no-repeat;
  }
  @media only screen and (max-width: $bp-small) {
    background-image: none;
  }
}

footer {
  display: flex;
  margin-bottom: -20rem;
  font-size: 1rem;
  text-align: center;
}
