*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

@media only screen and (max-width: 51.25em) {
  html {
    overflow: scroll;
  }
}

body {
  height: 100vh;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

@media only screen and (max-width: 51.25em) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 25% 75%;
        grid-template-rows: 25% 75%;
  }
}

.left {
  background-image: url(/images/bg-pattern-desktop.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 100vh;
}

.left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 5rem 4rem 5rem;
  font-family: "Josefin Sans", sans-serif;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media only screen and (max-width: 51.25em) {
  .left-side {
    padding: 3rem 4rem 3.5rem 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .left-side {
    background-image: url(/images/hero-mobile.jpg);
    background-size: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-repeat: no-repeat;
    background-position: top 6rem right 0;
    padding: 2rem 1rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .left-side {
    padding: 2.5rem;
  }
}

.left-side h1 {
  padding-top: 5rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 1.1em;
  letter-spacing: 0.9rem;
}

@media only screen and (max-width: 81.25em) {
  .left-side h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .left-side h1 {
    padding-top: 27rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .left-side h1 {
    padding-top: 21rem;
    font-size: 1.8rem;
  }
}

.left-side h1 .pink {
  color: #ce9797;
  font-weight: 300;
}

.left-side h1 .dark {
  color: #413a3a;
  font-weight: 400;
}

.left-side__text {
  color: #ce9797;
  font-size: 1.2rem;
  width: 30rem;
  line-height: 1.8rem;
}

@media only screen and (max-width: 62.5em) {
  .left-side__text {
    width: 26rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 51.25em) {
  .left-side__text {
    width: 20rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .left-side__text {
    width: 20rem;
    text-align: center;
    font-size: 1rem;
  }
}

.left-side__text .paragraph {
  padding: 2.5rem 0 2rem;
}

@media only screen and (max-width: 62.5em) {
  .left-side__text .paragraph {
    padding: 4rem 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .left-side__text .paragraph {
    padding-top: 2rem;
  }
}

.left-side input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  border: 1px solid #ce9797;
  border-radius: 5rem;
  padding: 1rem;
  min-width: 25vw;
  color: #413a3a;
  font-family: "Josefin Sans", sans-serif;
}

@media only screen and (max-width: 62.5em) {
  .left-side input {
    width: 40vw;
  }
}

@media only screen and (max-width: 51.25em) {
  .left-side input {
    width: 30vw;
  }
}

@media only screen and (max-width: 37.5em) {
  .left-side input {
    width: 45vw;
  }
}

.left-side input::-webkit-input-placeholder {
  color: #ce9797;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.left-side input:-ms-input-placeholder {
  color: #ce9797;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.left-side input::-ms-input-placeholder {
  color: #ce9797;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.left-side input::placeholder {
  color: #ce9797;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.left-side input:hover, .left-side input:focus {
  border: 2px solid #f96262;
  outline: #f96262;
}

.left-side .error-icon {
  visibility: hidden;
}

.left-side .error .error-icon {
  display: inline-block;
  visibility: visible;
}

@media only screen and (max-width: 51.25em) {
  .left-side .error .error-icon {
    margin-left: -5rem !important;
  }
}

.left-side form.error .error-icon .email {
  display: inline-block;
  visibility: visible;
  position: absolute;
}

.left-side .text {
  visibility: hidden;
}

.left-side form.error p {
  position: absolute;
  display: block;
  visibility: visible;
  color: #f96262;
  font-weight: 600;
  font-size: 1rem;
}

@media only screen and (max-width: 51.25em) {
  .left-side form.error p {
    margin-left: 3rem !important;
  }
}

.left-side button {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-left: -5rem;
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  border-radius: 2rem;
  padding: 0.9rem 0.8rem;
  width: 6vw;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  background-color: #f1bebe;
  cursor: pointer;
}

@media only screen and (max-width: 81.25em) {
  .left-side button {
    margin-left: -3rem;
  }
}

.left-side button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0.3rem 1rem 1.5rem 0.3rem #e7cbcb;
          box-shadow: 0.3rem 1rem 1.5rem 0.3rem #e7cbcb;
  background-image: inherit;
  background-color: #f8d2d2;
  outline: none;
}

.left-side button:focus-visible {
  border: 2px solid #f96262;
  outline: #f96262;
}

.right-side {
  background-image: url(/images/hero-desktop.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100vh;
}

@media only screen and (max-width: 81.25em) {
  .right-side {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 80vh;
  }
}

@media only screen and (max-width: 37.5em) {
  .right-side {
    background-image: none;
  }
}

.footer {
  color: #413a3a;
  text-align: center;
  font-size: 0.7rem;
  font-family: "Josefin Sans", sans-serif;
}

.footer__links {
  color: #ce9797;
  text-decoration: none;
}

.footer__links:hover {
  cursor: pointer;
  color: #f96262;
}
/*# sourceMappingURL=main.css.map */