*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow: hidden;
}

@media only screen and (max-width: 37.5em) {
  html {
    overflow: scroll;
  }
}

body {
  height: 100%;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

@media only screen and (max-width: 37.5em) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 30% 70%;
        grid-template-rows: 30% 70%;
  }
}

.left {
  background-image: url(/images/bg-pattern-desktop.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 100vh;
}

.left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 5rem 3rem 9rem;
  font-family: "Josefin Sans", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 50em) {
  .left-side {
    padding: 3rem 4rem;
  }
}

@media only screen and (max-width: 50em) {
  .left-side {
    padding: 1.5rem 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .left-side {
    background-image: url(/images/hero-mobile.jpg);
    background-size: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-repeat: no-repeat;
    background-position: top 5rem right 0rem;
  }
}

.left-side h1 {
  padding-top: 7rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 1.1em;
  letter-spacing: 0.9rem;
}

@media only screen and (max-width: 75em) {
  .left-side h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .left-side h1 {
    padding-top: 25rem;
  }
}

.left-side h1 .pink {
  color: #ce9797;
  font-weight: 300;
}

.left-side h1 .dark {
  color: #413a3a;
  font-weight: 400;
}

.left-side .left-side__text {
  color: #ce9797;
  font-size: 1.2rem;
  width: 33rem;
  line-height: 1.8rem;
}

@media only screen and (max-width: 75em) {
  .left-side .left-side__text {
    width: 20rem;
    text-align: center;
    padding-left: 2rem;
  }
}

.left-side .left-side__text .paragraph {
  padding: 2rem 0 3rem;
}

.left-side input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  border: 1px solid #ce9797;
  border-radius: 5rem;
  padding: 1rem;
  width: 28vw;
  color: #413a3a;
  font-family: "Josefin Sans", sans-serif;
}

@media only screen and (max-width: 37.5em) {
  .left-side input {
    min-width: 50vw;
  }
}

.left-side input::-webkit-input-placeholder {
  color: #ce9797;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.left-side input:-ms-input-placeholder {
  color: #ce9797;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.left-side input::-ms-input-placeholder {
  color: #ce9797;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.left-side input::placeholder {
  color: #ce9797;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.left-side input:hover {
  border: 2px solid #f96262;
  outline: #f96262;
}

.left-side input:focus {
  border: 2px solid #f96262;
  outline: #f96262;
}

.left-side .error-icon {
  visibility: hidden;
}

.left-side form.error .error-icon {
  display: inline-block;
  visibility: visible;
  position: absolute;
  margin-left: -7rem;
  margin-top: 0.7rem;
}

.left-side .text {
  visibility: hidden;
}

.left-side form.error p {
  display: block;
  visibility: visible;
  color: var(--Soft-Red);
  font-weight: 600;
}

.left-side button {
  margin-left: -5rem;
}

.left-side button, .left-side button:link, .left-side button:before, .left-side button:visited {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  border-radius: 2rem;
  padding: 0.9rem 0.8rem;
  width: 5vw;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  background-color: #f1bebe;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.left-side button:hover, .left-side button:target {
  cursor: pointer;
  -webkit-box-shadow: 0.3rem 1rem 1.5rem 0.3rem #e7cbcb;
          box-shadow: 0.3rem 1rem 1.5rem 0.3rem #e7cbcb;
  background-image: inherit;
  background-color: #f8d2d2;
}

.left-side button:focus, .left-side button:focus-visible {
  border: 2px solid #f96262;
  outline: #f96262;
}

.right-side {
  background-image: url(/images/hero-desktop.jpg);
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 75em) {
  .right-side {
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 37.5em) {
  .right-side {
    background-image: none;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -20rem;
  font-size: 1rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */